footer {

    border: solid;
    border-color: black;
    height: 3rem;
    background-color: #C2C2C2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    width: 100%;
}

@media screen and (min-width: 1024px) {
    footer {
        position: relative;
        bottom: -132%;

    }
}